.widgets {
    flex: 0.3;
}

.widgets--input {
    align-items: center;
    background-color: white;
    border-radius: 20px;
    color: black !important;
    display: flex;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

.widgets--input > Input {
    background-color: white;
    border: none;
}

.widgets--searchIcon {
    color: var( --react-color );
}

.widgets--widgetContainer {
    background-color: var( --react-color );
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    padding: 20px;

}